.dropdown-container__card {
  height: 100%;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: white;
}

.hidden {
  display: none;
}

.dropdown-m__button {
  text-align: right;
}

.dropdown-container {
  position: absolute;
  z-index: 999;
  transform: translateX(-90%) translateY(10px);
}

.dropdown-box {
  white-space: nowrap;
}
.dropdown-container__title {
  color: white;
  font-size: 16px;
  padding: 1rem;
  border-bottom: 3px solid #12e3ff;
  text-align: center;
  font-weight: 700;
  background-color: #00d9f6
  ;
}

.dropdown-list {
  margin-top: 0.2rem;
}

.dropdown-list__item {
  font-size: 14px;
  padding: 1rem;
}
.dropdown-list__item-name,
.dropdown-list__image {
  display: inline-block;
}
.dropdown-list__image {
  margin-right: 0.8rem;
  width: 15px;
}
.dropdown-list__image svg{
 color:#dddfeb;
}
.dropdown-m__button {
  color:#dddfeb;
}
.dropdown-list__item:hover {
  background-color: #02020209;
  cursor: pointer;
}
#button {
  cursor: pointer;
}

svg > path {
  pointer-events: none;
}
