

.hidden {
  visibility: hidden;
}

.dropdown-m__button {
  text-align: right;
}

.dropdown-container-messages {
  position: absolute;
  z-index: 999;
  transform: translateX(-90%) translateY(10px);
  width: 30%;
    min-width: 150px;
    max-width: 300px;
}

.dropdown-box {
  white-space: nowrap;
}
.dropdown-container__title {

  
}

.dropdown-list {
  margin-top: 0.2rem;
}

.dropdown-list__item:first-child {

  border-bottom: 1px solid #0000001a;
}
.dropdown-list__item:not(:last-child) {
  font-size: 14px;
  padding: 0.5rem;
  border-bottom: 1px solid #0000001a;
}

.dropdown-list__item:last-child {
  font-size: 14px;
  padding: 0.5rem;
}
.dropdown-list__item-name-message,
.dropdown-list__image-message {
  display: inline;
  white-space: normal;
}
.dropdown-list__image-message {
  margin-right: 0.8rem;
  width: 15px;
}
.dropdown-list__image-message svg{
 color:#ffc107;
}
.dropdown-m__button {
  color:#dddfeb;
}
.orange-warning {
  background-color: #ffc107;
  color:white;
}
.dropdown-list__item:hover {
  background-color: #02020209;
  cursor: pointer;
}
#button {
  cursor: pointer;
}

svg > path {
  pointer-events: none;
}

.dropdown-list__unix-time {
  font-size: 0.8em;
  color:rgba(0, 0, 0, 0.507);
  margin-bottom: 0.1rem;
}