.dropdown-menu {
    position: absolute;
    z-index:999;
    right: 0;
}
.hidden {
    display: none;
}
.dropdown-button-pointer {
    cursor: pointer;
    width: 30px;
}


svg > path {
    pointer-events: none;
}

.fa-image {
    width: 25px;
    display: inline-block;
}
.card-title.header {
    text-transform: uppercase;
    font-weight: 800;
    font-size: .75rem;
    color: #b7b9cc;
}

.list-header {
    font-size: .85rem;
    
}
.list-item {
  font-size: 0.85rem;
  cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.padding0 {
    padding:0;
}
.padding1rem {
    padding: 0.1rem 1rem;
}
.padding0rem {
    padding: 0.1rem 1rem 0.1rem 1.5rem;
}
.hov:hover {
  background-color: rgba(3, 3, 3, 0.021);
}