.widget-view{
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  margin:10px;
  padding:20px;
}

.widget-window {
  display: flex;
  justify-content: center;
}
.widget-window__block {
  max-width: 700px;
  min-height: 300px;
  height: 100%;
  width: 100%;
  background-color: green;
  border-radius: 10px;
  margin:10px;
  padding:20px;
}