.code {
    font-size: 50%;
    max-height: 300px;
    padding: 10px;
    background-color: #eef2f963;
    border-radius: 10px;

}

.project-header {
    display: flex;
    align-items: center;
}
.card-header {
    border-radius: 10px;
    border:0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.button-block {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}


.color-red {
    color:red;
    border-color:red;
}

.padding1rem {
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.image-list-items {
    margin-right: 0.4rem;
    color:#dddfeb;
    position: relative;
    transform: translateY(10%);
}