.call-list-item {
min-width: 200px;
background-color: white;
border-radius: 10px;
padding:10px;
margin:10px;
.call-list-item__time {
color: #02A0FC;
}

  .call-list-item__wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      color:rgb(221, 223, 235);
      padding: 4px;
  }
    

}

.calls-box {
    justify-content: space-between;
    display: flex;
}