$main-color:#02A0FC;
$main-color-hover:rgb(46, 179, 255);
$main-color-light:#CCF8FE;
$second-color: #4339F2;
$second-color-light: #DAD7FE;
$success-color: #34B53A;
$success-color-light: #E2FBD7;
$warning-color: #FFB200;
$warning-color-light: #FFF5CC;
$danger-color:#FF3A29;
$danger-color-light:#FFE5D3;
